@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 780px;
    background-image: linear-gradient(rgba(41,72,95,.1),rgba(41,72,95,.1)), url(style-imgs/1-kharkov.png);
    background-position: top;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
}

.logo{
    margin: 3rem;
    width: 24rem;
    height: 7rem;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 5rem;
}

.lng-link1,
.lng-link2,
.lng-link3{
    align-items: center;
    padding-right: 3.5rem;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #233b44;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(33, 31, 31);
    background-image: url(style-imgs/logo-invis.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 32rem 24rem;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.lng-first_page_info {
    display: flex;
    justify-content: center;
    align-items: center;
    line-break: normal;
    text-align: center;
    font-size: 20px;
    max-width: 70%;
    padding: 20px;
    margin: 40px 60px;
    color: #ffffff;
}

.info_table {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-auto-rows: 140px;
    padding: 2rem;
    padding-bottom: 0;
    background: linear-gradient(275.98deg, #6C0818 7.04%, #960018 42.66%, #B50A26 68.64%, #CD0E2D 99.43%);
    width: 85%;
}

.info_number {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
}

.lng-info_text1,
.lng-info_text2,
.lng-info_text3,
.lng-info_text4,
.lng-info_text5,
.lng-info_text6,
.lng-info_text7,
.lng-info_text8 {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
}

.what_we_do {
    display: grid;
    grid-template-columns: 1fr 11fr;
    align-self: flex-start;
    width: 65%;
    margin-top: 10rem;
    margin-bottom: 3rem;
    background: rgba(217, 217, 217, 0.4);
    border-radius: 0px 0px 64px 0px;
}

.xisk_do_back-text {
    writing-mode: vertical-lr;
    text-align: center;
    font-weight: 300;
    font-size: 92px;
    padding-left: 5rem;
    transform: scale(-1, -1);
    opacity: 0.15;
    color: #FFFFFF;
}

.spec_position {
    padding-left: 5rem;
}

.lng-our_specialization {
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: 24px;
    margin: 2rem;
    color: #ffffff;
}

.we_do_list {
    list-style-type: "-   ";
    padding-left: 6rem;
    padding-bottom: 4rem;
}

.lng-we_do_item1,
.lng-we_do_item2,
.lng-we_do_item3,
.lng-we_do_item4,
.lng-we_do_item5,
.lng-we_do_item6,
.lng-we_do_item7,
.lng-we_do_item8 {
    font-size: 16px;
    letter-spacing: 0.05rem;
    padding: 0.3rem;
    color: #ffffff;
}

.for_investors {
    display: grid;
    grid-template-columns: 0fr 12fr;
    justify-content: flex-start;
    align-self:flex-start;
    background: #cd0e2d;
    min-height: 24rem;
    margin-right: 15rem;
}

.invest_back_text {
    writing-mode: vertical-lr;
    text-align: center;
    font-weight: 300;
    font-size: 62px;
    padding-left: 6rem;
    transform: scale(-1, -1);
    opacity: 0.15;
    color: #ffffff;
}

.invest_position {
    align-self: flex-end;
    margin-bottom: 6rem;
    left: 0;
    margin-right: 25%;
}

.lng-invest_title {
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    color: #FFFFFF;
}

.lng-invest_text {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.05rem;
    color: #FFFFFF;
}

.invest-a {
    text-decoration: none;
    margin-bottom: 10rem;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 30rem;
    height: 100%;
    background-color: #233b44;
}

.logo_footer {
    margin: 3rem;
    width: 24rem;
    height: 7rem;
}

.foot_name {
    align-self: center;
    margin-top: 4rem;
    padding: 0.5rem;
    color: #FFFFFF;
}

.foot_copr {
    align-self: center;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: #FFFFFF;
}

.foot_menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 5rem;
}

.footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lng-foot_link1,
.lng-foot_link2,
.lng-foot_link3 {
    text-decoration: none;
    padding-right: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    opacity: 0.5;
    height: 100%;
    color: #FFFFFF;
}

.lng-foot_link1:hover,
.lng-foot_link2:hover,
.lng-foot_link3:hover {
    color: #cd0e2d;
}

.language-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    background: none;
    margin-top: 20em;
}

.side_btn-ua {
    width: 2rem;
    height: 2rem;
    font-size: 18px;
    border: 0;
    background: #cd0e2ebf;
    color: #FFFFFF;
}

.side_btn-en {
    width: 2rem;
    height: 2rem;
    font-size: 18px;
    border: 0;
    background: #cd0e2ebf;
    color: #FFFFFF;
}

.side_btn-ua:hover {
    cursor: pointer;
}

.side_btn-en:hover {
    cursor: pointer;
}

/* Карусель главная страница */
.slider_container {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.main_slider {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
}

.slider__card {
    width: 600px;
    height: 400px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider__card img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 20px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.main_slider:hover .card-text {
    background-color: #cd0e2d;
}

.active-card {
    opacity: 1;
}
